@charset "utf-8";

		* {
			margin: 0px;
			padding: 10px;
			text-decoration: none;
			font-style: Arial;
			}

		.cabecalho h1{
			text-align: center;
			text-transform: uppercase;
			font-family: Arial;
			font-size: 30px;
			color: #0000cc;
		}
		
		nav#menu ul{
			border: 3px solid #0000cc;
			list-style: none;
			text-align: center;
			font-size: 20px;
			font-family: Arial;
		}
		nav#menu ul li{
			display: inline-block;
			padding: 20px;
		}
		nav#menu ul li a{
			padding: 0px;
			margin: 100px;
			text-decoration: none;
			color: #0000cc;
		}
		nav#menu ul li a:hover{
			color: #000000;
		}
		
		main{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 90%;
			padding: 0 50px;
		}

		main section{
			padding: 15px 20px;
		}

		main .left .block{
			  border-bottom: 2px solid #2f3640;
		}
		main .right .block{
			  border-bottom: 2px solid #2f3640;
		}

		main section .meio, .block figure figcaption {
			font-size: 16px;
			line-height: 22px;
		}

		.block figure figcaption{
			
			padding: 10px 0;
		}

		main section .block a{
			
			display: block;
			padding: 10px 0;
			font-size: 16px;
			color: black;
			font-weight: 500;
			transition: 0.3s;
		}
		main section .block a:hover{
			opacity: 0.8;
		}

		.block figure {
			text-align: left;
			width: 100%;
		}
		.block figure img{
			width: 85%;
		}

		main section h2{
			font-size: 22px;
			font-family: Arial;
			padding: 15px 0;
		   
		}
		footer.rodape{
			width: 100%;
			height: 8vh;
			margin: 0 auto;
			text-align: center;
		}


		
		


		